/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}


  @font-face {
    font-family: "thaleahfat";
    src: url("../fonts/thaleahfat-webfont.woff2") format("woff2"),
        url("../fonts/thaleahfat-webfont.ttf") format("truetype");
    font-weight: 400;
  }

html, body {
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
    background:#1c050f;
    color:#ffffff;
    font-family:"thaleahfat", helvetica;
    background:#1c050f;
}

body {
    overflow-x: hidden; 
    font-size:16px;
}

p {
	font-size:1.5em;
	margin-bottom:1rem;
}

.container {
    height: 100%;
    position: relative;
    min-width:320px;
    z-index:2;
}

.logo {
	display:block;
	text-align:center; 
	z-index:9999;
	position:relative;
 }


.logo img{
	display:block; 
	margin:auto; 
	width:42vw; 
}

.txt {
	position:absolute;
	z-index:5;
	text-align:center;
	width:100%;
	}

.socials {
position:absolute;
z-index:5;
top:10px;
text-align:center;
width:100%;
}

.parallax-wrapper {
  overflow-y: hidden;
    height:80%; 
    min-width:320px;
     display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.parallax {
  background-size: 100%;
  background-position: left bottom;
  height:80%;
  background-repeat:no-repeat;
  position: absolute;
  top:0;
  width:100%;
  min-width:320px;
}

#level0 {
  background-image: url('../images/background-1.png');
    background-size: cover;
  background-position: left top;
  z-index:0;
}
#level1 {
  background-image: url('../images/level-1.gif');
  z-index:1;
}
#level2 {
  background-image: url('../images/level-2.gif');
  z-index:2;
}
#level3 {
  background-image: url('../images/level-3.gif');
  z-index:3;
}

.content {
	/* padding:5rem; */
	margin:auto;
	width:100%;
	position:relative;
	z-index:99999;
    background:#1c050f;
}



.content > h2 {
	margin:auto;
	padding:1rem 5vw;
	max-width:1200px;
}

a.social-link  {
	display:inline-block;	
	margin:20px 5px;
	
}

a.social-link svg {
	width:30px; 
	fill:#ffffff;
	position:relative;
}

a.social-link:hover svg {
	top:-3px;
 	cursor:pointer;
	fill:#f7d621;
	
}

a.button {
	display:inline-block;
	margin:auto;
	padding:13px 20px 12px;
	background:#f7d621;
	color:#1c050f;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	width:auto;
	position:relative;
	font-size:1.8em;
	margin-top:2rem;
	border-right:7px solid #1c050f;
	border-bottom:7px solid #1c050f;
}

a.button:hover {
	top:-3px;
	background:#ffffff;
	cursor:pointer;
	color:#1c050f;
}

h1, h2, h3, h4, h5 {
    font-weight:bold;
}

h2 {
	font-size: 4em;
	color: #f7d621;
}

h3 {
	font-size: 2em;
}

.prize-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
} 

.prize {
	margin-left: 40px;
	margin-right: 40px;
	padding: 40px;
	/* border: 1px solid white; */
	border-radius: 10px;
	background-color: rgba(255,255,255,0.2);
}
/*
.card {
=	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: ;
  }
  
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container2 {
	padding: 2px 16px;
  }*/

.characters {
	margin:2rem auto;
	padding:1rem 5vw;
	max-width:1200px;
	display: flex;
    justify-content: left;
    gap: 2rem;
    flex-wrap: wrap;
    }

.character {
    width: 70%;
    margin-bottom: 3%;
    min-width: 200px;
	font-size: 30px;

}

.character h2 {
	margin:1rem auto 0;
}
.character a,
.character img{
    width: 100%;
	display:block;
}
.character a.button {
	display:inline-block;
	width: auto;
	margin:1rem auto;
}
 
.footer {
	text-align:left;
	display:block;
	margin:auto;
	font-size:1.2em;
	padding:2rem 5vw;
	max-width:1200px;
}
.footer span {
	font-family:'Courier New', Courier, monospace; 
	font-weight:bold;
}

.timeline {
	min-width: 300px;
	max-width: 700px;
	margin: auto;
  }

.timeline p {
	font-size: 1em;
	line-height: 1.75em;
	border-top: 3px solid;
	border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
	border-image-slice: 1;
	border-width: 3px;
	margin: 0;
	padding: 40px;
	counter-increment: section;
	position: relative;
	color: #34435e;
}
.timeline p:before {
	content: counter(section);
	position: absolute;
	border-radius: 50%;
	padding: 10px;
	height: 1.25em;
	width: 1.25em;
	background-color: #34435e;
	text-align: center;
	line-height: 1.25em;
	color: #fff;
	font-size: 1em;
}
.timeline p:nth-child(odd) {
	border-right: 3px solid;
	padding-left: 0;
}
.timeline p:nth-child(odd):before {
	left: 100%;
	margin-left: -20px;
}
.timeline p:nth-child(even) {
	border-left: 3px solid;
	padding-right: 0;
}
.timeline p:nth-child(even):before {
	right: 100%;
	margin-right: -20px;
}
.timeline p:first-child {
	border-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.timeline p:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

/*/ MEDIA QUERIES START HERE //////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 768px) { /* Hand Held Device */

	body {
	font-size:13px;
	}
	.parallax {
		background-size: 150%;
	}
	.logo img{
		width:60vw; 
	}

	.content {
		padding:1rem;
	}
	.characters {
		gap: 1rem;
	}
	.character {
		width: 47%;
		margin-bottom: 3%;
		min-width: 200px;
	}

}


@media (max-width: 524px) { /*  Mobile */
  .parallax {
    background-size: 200%;
    }
    .logo img{
		width:80vw; 
	}
	.characters {
    	justify-content: center;
    }
	.character {
		width: 97%;
		margin-bottom: 3%;
		min-width: 200px;
		font-size: 20px;
		text-align: left;
	}

	.prize-wrapper {
		display: block;
	}
    .icons{
        visibility: hidden;
    }
    .navlinks{
        visibility: hidden;
    }
    .devbtn{
        width: 4rem;
        height: auto;
    }
    .mainlogo{
        position: absolute;
        top:5rem;
    }
}



@media screen and (min-width: 3240px ) { /* 4K */

}